.banner {
  @include pxRem(height, 800);
  position: relative;
  z-index: 0;
  width: 100%;

  .title {
    @include pxRem(max-width, 400);
    @include pxRem(padding-bottom, 24);
    @include pxRem(font-size, 72);
    font-weight: bold;
    line-height: 1.015;
    color: map-get($map: $color, $key: white-a);
  }

  .bg-img {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: fit-content;
  }

  .bg-iphone {
    position: absolute;
    z-index: -10;
    display: none;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: map-get($map: $background-overlay, $key: overlay-bn);
  }

  .section-body {
    @include pxRem(padding, 222 0 0 96);
    z-index: 10;
    .highlight {
      @extend .title;
      color: map-get($map: $color, $key: nav-h);
    }
    .shop-now-group {
      .shop-now-icon {
        @include pxRem(padding-right, 21);
      }
      .shop-now-link {
        @include pxRem(font-size, 24);
        @include pxRem(font-size, 36);
        font-weight: bold;
        text-decoration-line: underline;
        color: map-get($map: $color, $key: white-a);
      }
    }
  }
  .section-footer {
    @include pxRem(height, 125);
    position: absolute;
    bottom: 0;
    right: calc(50% - #{convertPxToRem(576)} + #{convertPxToRem(196)});
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    .benefit-group {
      @include pxRem(padding, 38 64 24 0);
      @include pxRem(border-top-right-radius, 70);
      width: 100%;
      background-color: map-get($map: $color, $key: white-a);
    }
  }
  .benefit-group {
    @include pxRem(height, 125);
    .benefit-item {
      @include pxRem(width, 236);
      @include pxRem(margin-left, 48);
      align-items: start;
      .benefit {
        padding: 0;
      }
      .benefit-icon {
        @include pxRem(margin-right, 15);
      }
      .benefit-content {
        .benefit-title {
          @include pxRem(margin-bottom, 4);
          @include pxRem(font-size, 14);
          @include pxRem(line-height, 21);
          padding: 0;
          font-weight: bold;
          color: map-get($map: $color, $key: black-a);
        }
        .benefit-des {
          @include pxRem(font-size, 12);
          @include pxRem(line-height, 18);
          color: map-get($map: $color, $key: banner-des);
        }
      }
      .benefit-horizontal {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .banner {
    @include pxRem(height, 740);
    .bg-img {
      display: none;
    }
    .bg-iphone {
      display: block;
    }
    .section-body {
      @include pxRem(padding, 271 0 0 0);
      .title {
        @include pxRem(font-size, 48);
      }
      .shop-now-group {
        .shop-now-link {
          @include pxRem(font-size, 14);
          @include pxRem(line-height, 21);
        }
      }
    }
    .section-footer {
      display: none;
    }
  }
}
