.header {
  position: absolute;
  width: 100%;
  padding: 48px 0;
  z-index: 50;
}

.header-left,
.header-right {
  width: 10%;
}

.header-center {
  width: 30%;
  .nav-link {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: map-get($map: $color, $key: nav-h);
  }
}

.header-right {
  .person-list {
    width: 100%;
  }
  .search {
    position: relative;
    .search-txt {
      position: absolute;
      right: 0;
    }
  }
}

