.product-section {
    padding: 48px 0;
    .product {
        position: relative;
        &::before {
            position: absolute;
            content: attr(data);
            right: 0;
            top: 0;
            padding: 14px 30px;
            font-weight: bold;
            font-size: 13px;
            text-transform: uppercase;
            line-height: 19px;
            border: 1px solid #C4C4C4;
            border-radius: 39px;
        }
    }

    .product-list-title {
        padding-bottom: 39px;
        font-weight: 300;
        font-size: 32px;
        line-height: 48px;
    }

    .product-group {
        gap: 20px;
        .product-item {
            .item-img {
                padding-bottom: 15px;
            }
        }
    }
   
}

.product-item {
    position: relative;
    .item-img {
        padding-bottom: 15px;
    }

    .item-name {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }

    .item-price {
        position: relative;
        font-size: 20px;
        line-height: 30px;        
        
        &.price-off {
            color: map-get($map: $color, $key: bg-sell-off)
        }

        &.tag::after {
            position: absolute;
            content: attr(real-price);
            right:0;
            top: 0;
            font-size: 20px;
            line-height: 30px;
            color: #CECECE;
        }       
    }

    &.tag::before {
        position: absolute;
        content: attr(sell-off);
        top: 30px;
        left: 27px;
        padding: 6px 9px;
        color: map-get($map: $color, $key: white-a);
        background-color: map-get($map: $color, $key: bg-sell-off);
        border-radius: 20px;
    }
}