.benefit-section {
    background-color:#F7F7F7;
    .benefit {
        padding: 48px 0 54px 0;
    }
    .benefit-title {
        padding-bottom: 50px;
        font-weight: 300;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
    }

    .benefit-content {
        grid-gap: 49px;        
    }
}

.payment {
    width: 25%;
    .payment-img {
        position: relative;
        width: 68px;
        height: 68px;
        margin-bottom: 46px;
        background-color: map-get($map: $color, $key: white-a);
        border-radius: 10px;
        .payment-icon {
            position: absolute;
            width: 37px;
            height: 37px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .payment-title {
        padding-bottom: 16px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;

        &.hover {
            color: map-get($map: $color, $key: nav-h)
        }
    }

    .payment-des {
        font-size: 14px;
        line-height: 21px;
        color: #808080;
    }
}

.product-today {
    .product-title {
        text-align: center;
    }
}


