.prd-section {
  .section-body {
    position: relative;
    .section-link {
      @include pxRem(top, -87);
      position: absolute;
      right: 0;
      height: fit-content;
    }
  }
  .prd-item {
    position: relative;
  }
  .prd {
    .btn-sell-off {
      @include pxRem(top, 24);
      @include pxRem(left, 28);
    }
    &-img {
      @include pxRem(padding-bottom, 15);
      width: 100%;
    }
    &-name {
      @include pxRem(font-size, 16);
      @include pxRem(line-height, 24);
      font-weight: 300;
    }
    &-price {
      @include pxRem(font-size, 20);
      @include pxRem(line-height, 30);
      position: relative;
      &.price-off {
        color: map-get($map: $color, $key: bg-sell-off);
      }
      &.tag::after {
        @include pxRem(font-size, 20);
        @include pxRem(line-height, 30);
        position: absolute;
        color: map-get($map: $color, $key: grey-real);
        content: attr(real-price);
        right: 0;
        top: 0;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .prd-section {
    .section-body {
      .section-link {
        @include pxRem(font-size, 10);
        @include pxRem(top, -60);
        right: 0;
        padding: 0;
        border: 0;
        align-self: flex-end;
      }
    }
    .prd-item {
      @include pxRem(padding-bottom, 12);
      .badge-sell-off {
        @include pxRem(top, 12);
        @include pxRem(left, 9);
      }
      .prd-img {
        padding-bottom: 0;
      }
      .prd-name {
        @include pxRem(font-size, 12);
        @include pxRem(line-height, 12);
        font-weight: 300;
      }
      .prd-price {
        @include pxRem(font-size, 10);
        @include pxRem(line-height, 15);

        &.tag::after {
          @include pxRem(font-size, 10);
          @include pxRem(line-height, 15);
        }
      }
    }
  }
}
