* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #787885;
}

a:visited {
  color: #787885;
}

ul,
li {
  list-style: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-table;
  width: 104px !important;
  text-align: center;
  padding: 8px 12px;
  border-radius: 5px;
  color: #fff;
  border-radius: 4px !important;
}

.btn:active {
  color: #fff;
  background-color: #2264d1;
}

.btn-active {
  color: #fff !important;
  background-color: #2264d1 !important;
  border-radius: 2px;
}

.btn-primary,
.btn-flat-primary {
  font-family: "Quicksand", sans-serif;
}
.btn-primary {
  color: #2264d1 !important;
}

.btn-outline-primary {
  width: 105px;
  height: 32px;
  background-color: #fff;
  border: 1px solid #9dc2ff;
  padding: 4px 12px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  /* or 20px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.018em;

  /* Blue / 70 */

  color: #2264d1;
}

.btn:hover,
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #2264d1;
}

.header {
  width: 100%;
  height: 80px;
  margin: auto;
  align-items: center;
  z-index: 1;
  position: relative;
  border-bottom: 1px solid #2264d1;
}

.header__content {
  max-width: 1120px;
  margin: auto;
}

.header__content__left {
  /* width: 20%; */
  height: 80px;
}

.logo {
  margin: 0;
}

.header__content__search {
  position: relative;
  align-items: center;
  width: 40%;
  margin: auto;
  /* width: 30%; */
}

.menu-icon {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  cursor: pointer;
}

.search {
  position: relative;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  /* height: 48px; */
}

.icon-search {
  position: absolute;
  left: 15px;
  width: 15px;
  height: 15px;
}

.delete-icon {
  position: absolute;
  right: 20px;
}

.search > input {
  /* width: 400px; */
  width: 100%;
  height: 40px;
  border-radius: 50px;
  padding-left: 40px;
  background-color: #fff;
  /* border-width: 0.5px; */
  border: 1px solid #ededf0;
  outline: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  display: flex;
  align-items: center;
  letter-spacing: 0.0275em;

  color: #434343;
}

.header__content__right {
  /* width: 20%; */
  padding-left: 20px;
  align-items: center;
  font-weight: bold;
}

.cart {
  display: flex;
}

.amount {
  background-color: #f00;
  border-radius: 50%;
  font-size: 10px;
  width: 12px;
  height: 12px;
  text-align: center;
  color: #fff;
}

.amount > span {
  width: 100%;
}

.menu {
  position: absolute;
  width: 320px;
  height: 327px;
  top: 80px;

  opacity: 0;
  background-color: #fff;
  border: 1px solid #2264d1;
  border-top: none;
  z-index: 1;
}

.menu > ul > li > a {
  display: flex;
}

.menu > ul > li {
  width: 197px;
  height: 20px;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 31px;
}

.menu p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  padding-left: 24px;

  display: flex;
  align-items: center;
  letter-spacing: 0.018em;

  color: #787885;
}

.img-menu {
  width: 20px;
  height: 17px;
}

.menu-active {
  opacity: 1;
}

.menu-item-active > p {
  color: #2979ff !important;
}

/* end --------header---------- */

.section {
  max-width: 1120px;
  margin: 20px auto;
  z-index: -1;
}

.banner-img {
  width: 100%;
  z-index: -1;
}
.banner {
  z-index: -1;
}

.banner__content {
  z-index: -1;
}

.banner__content > img {
  z-index: -1;
}
.action {
  flex-direction: row;
  width: 100%;
  align-content: flex-end;
}

.action__content {
  /* width: 95%; */
  align-items: center;
}

.action__content__filter {
  /* display: flex; */
  /* flex-wrap: wrap; */
  align-items: center;
  align-content: center;
}

select {
  flex: 1;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  /* or 20px */

  display: flex;
  align-items: center;
  letter-spacing: 0.018em;

  /* Gray / 50 */

  color: #787885;
}

.action__content__button {
  width: 450px;
}

.action-show {
  display: flex;
  align-items: center;
}

.action__content__grid {
  display: flex;
}
.view-list,
.filter-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 68px;

  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #5a5b6a;
  background: #ebf2ff;

  box-shadow: 0px 1px 2px rgba(27, 78, 163, 0.24);
}

.action-show > .active,
.action__content__grid > .active {
  background: #fff;
}

.filter-payment {
  /* margin: 5px; */
  width: 85.3px;
  padding: 10px;
}

.filter-payment-active {
  color: #2264d1;
  background-color: #fff;
}

.filter-payment:hover {
  color: #2264d1;
  background-color: #fff;
}

.grid-view-icon {
  width: 18px;
  height: 18px;
  color: #fff;
}
.view-list-icon {
  width: 17px;
  height: 14px;
}

select {
  width: max-content;
  height: 36px;
  font-weight: bold;
  padding: 6px 12px;
  margin: 0 5px;
  border-radius: 5px;
  border-width: 1px;
  opacity: 0.7;
}

.filter__sort-by {
  position: relative;
}

.filter__sort-by,
select {
  flex: 1;
  /* min-width: 135px; */
}
.filter__condition {
  width: 118px;
}

.filter__delivery {
  width: 158px;
}

.select-active {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  /* or 20px */
  opacity: 1;
  display: flex;
  align-items: center;
  letter-spacing: 0.018em;

  color: #19191d;
}

.filter__sort-by > span {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  top: -7px;
  left: 15px;
  z-index: 1;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;

  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #787885;
}

.main {
  margin-bottom: 108px;
}

/* -------------------------------- product ------------------------------*/

.product {
  padding: 16px;
}

.product-list {
  /* display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto); */
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  height: auto;
  /* padding: 0px; */
  /* background-color: #b3bdc5; */
}

.product-item {
  flex: 1;
  min-width: 256px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 16px;
  text-align: left;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
}

.img-product {
  margin-bottom: 12px;
}

h4 {
  height: 74px;
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  letter-spacing: 0.0275em;

  color: #19191d;
}

.product-item__price-row {
  margin-bottom: 8px;
  height: 36px;
  align-items: center;
}

.product-item__price-row__price {
  height: 21px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  display: flex;
  align-items: center;

  /* Dark Color */

  color: rgba(0, 0, 0, 0.87);
}

.product-item__price-row__status {
  width: 70px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  padding: 4px 10px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;

  /* Green / 70 */
  background: #ecf7ed;
  color: #37833b;
  border-radius: 4px;
}

.cool-status {
  background-color: #fdedf2;
  color: #c23564;
  /* font-weight: bold; */
  padding: 4px 6px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;

  /* Pink / 70 */
}

.product-item__price-row__note {
  height: 41px;
  margin-bottom: 13px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
}

.product-item:hover {
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2) !important;
}

/* -------------------------------- product ------------------------------*/

/* ---------------------------------footer ------------------------------ */
.footer {
  width: 100%;
  height: 275px;
  /* padding: 64px 0; */

  text-align: center;

  color: #fff;
  background-color: #2264d1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.footer__content {
  width: max-content;
  height: auto;
  text-align: center;
  margin: auto;
}

.footer__content > .footer__answer > h3 {
  padding: 39px 0;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  line-height: 150%;
}

.footer__content > div > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;
  letter-spacing: 0.0275em;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}

/* ---------------------------------footer ------------------------------ */

@media only screen and (max-width: 1125px) {
  /* .product-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 265px;
  } */
}

@media only screen and (max-width: 915px) {
  .header__content__right {
    display: none;
  }

  .header__content__search {
    margin-left: 5%;
    width: 100%;
    flex-direction: row-reverse;
  }

  .menu {
    right: 0;
  }

  .menu-icon {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 885px) {
  .action {
    display: flex;
  }

  .action__content {
    display: inline-block;
    flex-direction: column;
    margin: auto;
  }

  .action__content__filter {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 580px) {
  .filter__delivery {
  }

  .filter__sort-by,
  select {
    margin: 10px;
  }

  /* .filter__sort-by > span {
    top: 3px;
    left: 20px;
  } */

  .action__content {
    display: inline-block;
    flex-direction: column;
    margin: auto;
  }

  .action__content__button {
    flex-direction: column;
    align-items: center;
  }

  .action__content__button > ul {
    margin: auto;
  }

  .action__content__button > ul {
    margin: 10px 0;
  }
}
