*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16;
  font-style: normal;
  font-weight: normal;
  color: black;
}

html {
  font-size: 16px;
}

ul,
li {
  list-style: none;
}

select {
  appearance: none;
}

body {
  position: relative;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
}
