.footer {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #2264d1;
}

.footer .footer-content {
  margin: 15px 0;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.5;
}

.footer .footer-text {
  font-weight: normal;
  font-size: 14px;
  font-size: 14px;
  opacity: 0.5;
}

.footer > .footer-text:first-child {
  padding-top: 64px;
}

.footer > .footer-text:last-child {
  padding-bottom: 64px;
}
