.header {
  width: 100%;
  height: 80px;
  margin: auto;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid #2264d1;
}

.logo {
  margin: 0;
}

.header-search {
  position: relative;
  align-items: center;
  width: 48%;
  margin: auto;
}

.menu-icon {
  width: 32px;
  height: 32px;
  align-self: center;
  margin: 24px 32px;
  cursor: pointer;
}

.menu {
  padding-top: 24px;
  position: absolute;
  top: 76px;
  left: -248px;
  opacity: 0;
  background-color: #fff;
  border-top: none;
  box-shadow: 0px 4px 8px rgba(90, 91, 106, 0.2);
  z-index: 1;
}

.menu-item {
  padding: 0px 91px 31px 32px;
}

.menu .menu-item-text {
  padding: 0 10px 0 24px;
  font-size: 14px;
  color: #787885;
}

.menu-item-text:hover {
  color: #2264d1;
}

.menu-img {
  width: 20px;
  height: 17px;
}

.menu-active {
  opacity: 1;
}

.search {
  position: relative;
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ededf0;
  border: 1px solid #ededf0;
}

.search-icon {
  position: absolute;
  left: 17px;
  top: 12px;
}

.delete-icon {
  position: absolute;
  opacity: 0;
  right: 20px;
  top: 4px;
}

.search > .search-text {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  padding-left: 45px;
  border: none;
  outline: none;
  font-weight: normal;
  font-size: 20px;
  color: #434343;
  background-color: #ededf0;
}

::placeholder {
  color: #9696a0;
}

.header-right {
  padding-left: 20px;
  align-items: center;
  font-weight: bold;
  color: #2264d1;
}

.header-btn {
  margin-left: 20px;
}

.cart {
  position: relative;
}

.cart .quality {
  position: absolute;
  top: -5px;
  right: -8px;
  width: 14px;
  height: 14px;
  font-weight: bold;
  font-size: 10px;
  color: #fff;
  background-color: #f00;
  border-radius: 50px;
}
/* 
.cart::after {
  position: absolute;
  content: attr(data-cart);
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2px 5px;
  right: -7px;
  top: -5px;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  color: #fff;
  background-color: #f00;
  border-radius: 50%;
} */
