.btn-default {
  @include pxRem(padding, 14 18);
  @include pxRem(font-size, 13);
  @include pxRem(line-height, 19);
  @include pxRem(border-radius, 39);
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: map-get($map: $color, $key: black-a);
  background-color: map-get($map: $color, $key: white-a);
}

.btn-default-outline {
  @extend .btn-default;
  @include pxRem(padding, 14 30);
  @include pxRem(border, solid 1 map-get($map: $color, $key: grey-bd));
}

.badge-sell-off {
  @include pxRem(padding, 6 12);
  @include pxRem(top, 30);
  @include pxRem(left, 40);
  @include pxRem(font-size, 12);
  @include pxRem(line-height, 18);
  @include pxRem(border-radius, 20);
  position: absolute;
<<<<<<< HEAD
=======
  top: to-rem(24);
  left: to-rem(18);
>>>>>>> exercise/20210430-bao_nguyen_cart_page
  font-weight: bold;
  text-align: center;
  border: 0;
  color: map-get($map: $color, $key: white-a);
  background-color: map-get($map: $color, $key: bg-sell-off);
}

.btn-submit {
  @include pxRem(padding, 14 52);
  @include pxRem(margin-left, 40);
  @include pxRem(font-size, 13);
  @include pxRem(line-height, 19);
  @include pxRem(border-radius, 56);
  font-weight: bold;
  text-align: center;
  background-color: map-get($map: $color, $key: nav-h);
}

.btn-add-cart {
  @extend .btn-submit;
  @include to-rem-two(padding, 10, 20);
  margin: 0;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .badge-sell-off {
    @include pxRem(padding, 2 6);
    @include pxRem(font-size, 8);
    @include pxRem(line-height, 12);
    top: 0;
    left: 0;
  }
}
