.cart-section {
  .section-header {
    @include to-rem-two(padding, 20, 0);
    font-weight: bold;
    font-size: to-rem(24);
  }
  .section-body {
    &.cart-empty {
      @include to-rem-four(padding, 50, 0, 50, 0);
      @include to-rem-two(margin, 20, 0);
      justify-content: center;
      font-size: to-rem(20);
      align-items: center;
      background-color: map-get($map: $color,$key: grey-b);
      border-radius: to-rem(4);
    }
    .prd-list {
      @include to-rem-two(margin, 0, -10);
    }
    .prd-item {
      padding: to-rem(24);
      margin-bottom: to-rem(30);
      border-radius: to-rem(4);
      border: to-rem(1) solid map-get($map: $color, $key: grey-bd);
      .prd-img {
        height: to-rem(192);
      }
      .prd-info {
        @include to-rem-two(padding, 0, 24);
        min-width: to-rem(350);
        height: to-rem(80);        
        text-align: left;
        .prd-name {
          font-size: to-rem(22);
        }        
        .prd-price {
          font-size: to-rem(20);
        }
      }
      .prd-body-right {
        height: to-rem(192);       
        text-align: right;
      }
      .prd-total {
        font-weight: bold;
        font-size: to-rem(24);
      }
      .badge-sell {
        @include to-rem-two(padding, 10, 0);
      }
      .real-price {
        padding-right: to-rem(10);
        text-decoration: line-through;
        color: map-get($map: $color, $key: grey-w);
      }
      .percent-sell-off {
        font-weight: bold;
        font-size: to-rem(14);
        color: map-get($map: $color, $key: bg-sell-off);
      }
      .prd-amount {
        .amount {
          @include to-rem-two(padding, 5, 10);
          border: to-rem(1) solid map-get($map: $color, $key: grey-bd);
          border-radius: to-rem(4);
          cursor: pointer;
        }
        .amount-now {
          @include to-rem-two(padding, 6,2); 
          width: to-rem(50);
          text-align: center;
          border-radius: to-rem(5);
          border-width: to-rem(1);
          border-color: map-get($map: $color, $key: pink-am);
        }
      }
      .remove {
        font-weight: 500;
        font-size: to-rem(14);
        color: map-get($map: $color, $key: grey-w);
        cursor: pointer;
      }
    }
  }
  .cart-body-right {
    padding-bottom: to-rem(50);
    .sub-body {
      padding: to-rem(24);
      border: to-rem(1) solid map-get($map: $color, $key: grey-bd);
      border-radius: to-rem(4);
    }
    .sub-total {
      font-weight: bold;
      font-size: to-rem(16);
    }
    .sub-price {
      font-weight: 500;
      font-size: to-rem(32);
      text-align: right;
    }
    .sub-footer {
      @include to-rem-two(padding, 18, 80);
      margin-top: to-rem(10);
      text-align: center;
      font-weight: bold;
      color: map-get($map: $color, $key: white-a);
      background-color: map-get($map: $color, $key: nav-h);
      border-radius: to-rem(4);
      cursor: pointer;
    }
  }
}
