// -----collection-section -----
.collection-section {
  @include to-rem-two(padding, 48, 0);
  .collection-group {
    .collection {
      position: relative;
      z-index: 0;
      width: 100%;
      height: to-rem(359);
      .collect-bg {
        position: absolute;
        z-index: -10;
        width: 100%;
        height: 100%;
      }
      .collection-content {
        @include to-rem-four(padding, 0, 40, 53, 40);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      &::after {
        @include to-rem-two(padding, 0, 20);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: map-get($map: $color, $key: black-a);
      }
    }
  }
  .detail {
    min-height: to-rem(140);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .discount {
    @include to-rem-two(padding, 6, 9);
    position: static;
    align-self: flex-start;
    margin-bottom: to-rem(8);
  }
  .collection-title {
    margin-bottom: to-rem(32);
    font-size: to-rem(24);
    line-height: to-rem(30);
    color: map-get($map: $color, $key: white-a);
  }

  .collection-link {
    @include to-rem-two(padding, 14, 18);
    align-self: flex-start;
    font-weight: bold;
    font-size: to-rem(13);
    line-height: to-rem(19);
    text-transform: uppercase;
    border: 0;
    border-radius: to-rem(39);
    color: map-get($map: $color, $key: black-a);
    background-color: map-get($map: $color, $key: white-a);
  }
}

// -----product-section -----

.prd-section {
  @include to-rem-two(padding, 48, 0);
  .section-header {
    position: relative;
    .section-title {
      padding-bottom: to-rem(39);
      font-weight: 300;
      font-size: to-rem(32);
      line-height: to-rem(48);
    }
  }
  .txt-center {
    text-align: center;
  }
}

.benefit-section {
  background-color: map-get($map: $color, $key: grey-b);
  .section-header {
    .section-title {
      @include to-rem-four(padding, 48, 0, 50, 0);
      text-align: center;
      font-weight: 300;
      font-size: to-rem(32);
      line-height: to-rem(48);
    }
  }
  .section-body {
    padding-bottom: to-rem(54);
  }
  .benefit {
    .benefit-img {
      position: relative;
      margin-bottom: to-rem(46);
      width: to-rem(68);
      height: to-rem(68);
      border-radius: to-rem(10);
      background-color: map-get($map: $color, $key: white-a);
      .benefit-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: to-rem(37);
        height: to-rem(37);
        transform: translate(-50%, -50%);
      }
    }
    .benefit-title {
      padding-bottom: to-rem(16);
      font-weight: bold;
      font-size: to-rem(16);
      line-height: to-rem(24);

      &.hover {
        color: map-get($map: $color, $key: nav-h);
      }
    }

    .benefit-des {
      font-size: to-rem(14);
      line-height: to-rem(21);
      color: map-get($map: $color, $key: grey-d);
    }

    &:hover {
      .item-title,
      .benefit-icon {
        color: map-get($map: $color, $key: nav-h);
      }
    }
  }
}

// -----subscribe-section -----

.subscribe-section {
  position: relative;
  z-index: 0;
  height: to-rem(217);
  .background-ft {
    position: absolute;
    z-index: -30;
    width: 100%;
    height: 100%;
    &-ip {
      display: none;
    }
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: map-get($map: $background-overlay, $key: overlay-ft);
  }
  .sub-content {
    height: 100%;
  }

  .sub-info {
    width: 50%;
    font-size: to-rem(24);
    line-height: to-rem(36);
    color: map-get($map: $color, $key: white-a);
  }

  .sub-email {
    width: 50%;
    .txt-mail {
      padding: to-rem(24);
      height: to-rem(20);
      width: 100%;
      align-items: center;
      font-size: to-rem(13);
      line-height: to-rem(19);
      border-radius: to-rem(61);
      border: 0;
      outline: none;
      color: map-get($map: $color, $key: grey-w);
      background-color: map-get($map: $color, $key: white-a);
    }
  }
}

// -----media query -----

@media only screen and (max-width: 375px) {
  // -----collection-section -----
  .collection-section {
    @include to-rem-four(padding, 24, 0, 0, 0);
    .collection-group {
      .collection {
        height: to-rem(224);
        width: 100%;
        .collection-bg {
          object-fit: cover;
        }
        .collection-content {
          @include to-rem-four(padding, 0, 0, 16, 16);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 100%;

          .discount {
            @include to-rem-two(padding, 2, 6);
            font-size: to-rem(8);
            line-height: to-rem(12);
          }
          .detail {
            min-height: to-rem(68);
            min-width: to-rem(90);
            padding-right: to-rem(45);
          }
          .collection-title {
            margin-bottom: to-rem(8);
            font-weight: normal;
            font-size: to-rem(14);
            line-height: to-rem(21);
            color: map-get($map: $color, $key: white-a);
          }
          .collection-link {
            @include to-rem-two(padding, 3, 9);
            left: to-rem(16);
            bottom: to-rem(16);
            font-size: to-rem(10);
            line-height: to-rem(15);
          }
        }
      }
    }
  }

  // -----product-section -----

  .prd-section {
    .section-header {
      .section-title {
        font-weight: 300;
        font-size: to-rem(18);
        line-height: to-rem(27);
      }
      .txt-center {
        text-align: left;
        padding-bottom: to-rem(16);
      }
    }
  }

  .benefit-section {
    .section-header {
      .section-title {
        font-weight: 300;
        font-size: to-rem(18);
        line-height: to-rem(27);
      }
    }
    .section-body {
      padding-bottom: to-rem(28);
      .benefit-group {
        display: block;
        .benefit-item {
          width: 100%;
        }
      }
      .benefit-vertical {
        display: flex;
        justify-content: space-between;
        .benefit-img {
          @include to-rem-four(margin, 0, 16, 16, 0);
        }
        .benefit-content {
          flex: 1;
          @include to-rem-two(padding, 5, 0);
          .benefit-title {
            padding-bottom: to-rem(8);
            font-size: to-rem(12);
            line-height: to-rem(18);
          }

          .benefit-des {
            font-size: to-rem(10);
            line-height: to-rem(15);
          }
        }
      }
    }
  }

  // -----subscribe-section -----

  .subscribe-section {
    .background-ft {
      display: none;
      &-ip {
        display: block;
        position: absolute;
        z-index: -30;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .sub-content {
      display: block;
      height: auto;
      width: 100%;
    }
    .sub-info {
      @include to-rem-four(padding, 24, 117, 24, 0);
      width: 100%;
      font-size: to-rem(14);
      line-height: to-rem(21);
    }
    .sub-email {
      display: block;
      padding: 0;
      width: 100%;
      height: to-rem(32);
      text-align: start;
      .txt-mail {
        @include to-rem-two(padding, 16, 12);
        margin-bottom: to-rem(12);
        font-size: to-rem(12);
        &::placeholder {
          opacity: 0.7;
        }
      }
      .button {
        @include to-rem-two(padding, 7, 19);
        margin: 0;
        font-size: to-rem(13);
        line-height: to-rem(19);
      }
    }
  }
}
