.banner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: to-rem(800);

  .title {
    color: map-get($map: $color, $key: white-a);
    max-width: to-rem(400);
    padding-bottom: to-rem(24);
    font-weight: bold;
    font-size: to-rem(72);
    line-height: 1.015;
  }

  .bg-img {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: fit-content;
  }

  .bg-iphone {
    position: absolute;
    z-index: -10;
    display: none;
  }

  &::after {
    background-image: map-get($map: $background-overlay, $key: overlay-bn);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }

  .section-body {
    @include to-rem-four(padding, 222, 0, 0, 96);
    z-index: 10;
    .highlight {
      @extend .title;
      color: map-get($map: $color, $key: nav-h);
    }
    .shop-now-group {
      .shop-now-icon {
        padding-right: to-rem(21);
      }
      .shop-now-link {
        color: map-get($map: $color, $key: white-a);
        font-weight: bold;
        font-size: to-rem(24);
        line-height: to-rem(36);
        text-decoration-line: underline;
      }
    }
  }
  .section-footer {
    position: absolute;
    bottom: 0;
    right: calc(50% - #{to-rem(576)} + #{to-rem(196)});
    width: 100%;
    height: to-rem(125);
    display: flex;
    flex-direction: row-reverse;

    .benefit-group {
      background-color: map-get($map: $color, $key: white-a);
      width: 100%;
      @include to-rem-four(padding, 38, 64, 24, 0);
      border-top-right-radius: to-rem(70);
    }
  }
  .benefit-group {
    height: to-rem(125);
    .benefit-item {
      width: to-rem(236);
      align-items: start;
      margin-left: to-rem(48);
      .benefit {
        padding: 0;
      }
      .benefit-icon {
        margin-right: to-rem(15);
      }
      .benefit-content {
        .benefit-title {
          color: map-get($map: $color, $key: black-a);
          padding: 0;
          margin-bottom: to-rem(4);
          font-weight: bold;
          font-size: to-rem(14);
          line-height: to-rem(21);
        }
        .benefit-des {
          color: map-get($map: $color, $key: banner-des);
          font-size: to-rem(12);
          line-height: to-rem(18);
        }
      }
      .benefit-horizontal {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.collection-section {
  @include to-rem-two(padding, 48, 0);
  .collection-group {
    .collection {
      position: relative;
      z-index: 0;
      width: 100%;
      height: to-rem(359);
      .collect-bg {
        position: absolute;
        z-index: -10;
        width: 100%;
        height: 100%;
      }
      .collection-content {
        @include to-rem-four(padding, 0, 40, 53, 40);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      &::after {
        background-color: map-get($map: $color, $key: black-a);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: "";
        @include to-rem-two(padding, 0, 20);
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
    }
  }
  .detail {
    min-height: to-rem(140);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .discount {
    align-self: flex-start;
    position: static;
    @include to-rem-two(padding, 6, 9);
    margin-bottom: to-rem(8);
  }
  .collection-title {
    color: map-get($map: $color, $key: white-a);
    font-size: to-rem(24);
    line-height: to-rem(30);
    margin-bottom: to-rem(32);
  }

  .collection-link {
    color: map-get($map: $color, $key: black-a);
    background-color: map-get($map: $color, $key: white-a);
    align-self: flex-start;
    @include to-rem-two(padding, 14, 18);
    font-weight: bold;
    font-size: to-rem(13);
    line-height: to-rem(19);
    text-transform: uppercase;
    border: 0;
    border-radius: to-rem(39);
  }
}

.prd-section {
  @include to-rem-two(padding, 48, 0);
  .section-header {
    position: relative;
    .section-title {
      padding-bottom: to-rem(39);
      font-weight: 300;
      font-size: to-rem(32);
      line-height: to-rem(48);
    }
  }
  .txt-center {
    text-align: center;
  }
}

.benefit-section {
  background-color: #f7f7f7;
  .section-header {
    .section-title {
      @include to-rem-four(padding, 48, 0, 50, 0);
      text-align: center;
      font-weight: 300;
      font-size: to-rem(32);
      line-height: to-rem(48);
    }
  }
  .section-body {
    padding-bottom: to-rem(54);
    .benefit-group {
      @include to-rem-two(margin, 0, -23);
      .col-lg-3 {
        width: 25%;
        @include to-rem-two(padding, 0, -23);
      }
    }
  }
  .benefit {
    .benefit-img {
      background-color: map-get($map: $color, $key: white-a);
      position: relative;
      margin-bottom: to-rem(46);
      width: to-rem(68);
      height: to-rem(68);
      border-radius: to-rem(10);
      .benefit-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: to-rem(37);
        height: to-rem(37);
        transform: translate(-50%, -50%);
      }
    }
    .benefit-title {
      padding-bottom: to-rem(16);
      font-weight: bold;
      font-size: to-rem(16);
      line-height: to-rem(24);

      &.hover {
        color: map-get($map: $color, $key: nav-h);
      }
    }

    .benefit-des {
      font-size: to-rem(14);
      line-height: to-rem(21);
      color: #808080;
    }

    &:hover {
      .item-title,
      .benefit-icon {
        color: map-get($map: $color, $key: nav-h);
      }
    }
  }
}

.subscribe-section {
  position: relative;
  z-index: 0;
  height: to-rem(217);
  .background-ft {
    position: absolute;
    z-index: -30;
    width: 100%;
    height: 100%;
    &-ip {
      display: none;
    }
  }
  &::after {
    background-image: map-get($map: $background-overlay, $key: overlay-ft);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
  .sub-content {
    height: 100%;
  }

  .sub-info {
    color: map-get($map: $color, $key: white-a);
    width: 50%;
    font-size: to-rem(24);
    line-height: to-rem(36);
  }

  .sub-email {
    width: 50%;
    .mail {
      color: map-get($map: $color, $key: grey-w);
      background-color: map-get($map: $color, $key: white-a);
      padding: to-rem(24);
      height: to-rem(20);
      width: 100%;
      align-items: center;
      font-size: to-rem(13);
      line-height: to-rem(19);
      border-radius: to-rem(61);
      border: 0;
      outline: none;
    }
  }
}

@media only screen and (max-width: 375px) {
  .banner {
    height: to-rem(740);
    .bg-img {
      display: none;
    }
    .bg-iphone {
      display: block;
    }
    .section-body {
      @include to-rem-four(padding, 271, 0, 0, 0);
      .title {
        font-size: to-rem(48);
      }
      .shop-now-group {
        .shop-now-link {
          font-size: to-rem(14);
          line-height: to-rem(21);
        }
      }
    }
    .section-footer {
      display: none;
    }
  }

  .collection-section {
    @include to-rem-four(padding, 24, 0, 0, 0);
    .collection-group {
      .collection {
        height: to-rem(224);
        width: 100%;
        .collection-bg {
          object-fit: cover;
        }
        .collection-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          @include to-rem-four(padding, 0, 0, 16, 16);
          height: 100%;

          .discount {
            font-size: to-rem(8);
            line-height: to-rem(12);
            @include to-rem-two(padding, 2, 6);
          }
          .detail {
            min-height: to-rem(68);
            min-width: to-rem(90);
            padding-right: to-rem(45);
          }
          .collection-title {
            color: map-get($map: $color, $key: white-a);
            margin-bottom: to-rem(8);
            font-weight: normal;
            font-size: to-rem(14);
            line-height: to-rem(21);
          }
          .collection-link {
            left: to-rem(16);
            bottom: to-rem(16);
            @include to-rem-two(padding, 3, 9);
            font-size: to-rem(10);
            line-height: to-rem(15);
          }
        }
      }
    }
  }
  .prd-section {
    .section-header {
      .section-title {
        font-weight: 300;
        font-size: to-rem(18);
        line-height: to-rem(27);
      }
      .txt-center {
        text-align: left;
        padding-bottom: to-rem(16);
      }
    }
  }

  .benefit-section {
    .section-header {
      .section-title {
        font-weight: 300;
        font-size: to-rem(18);
        line-height: to-rem(27);
      }
    }
    .section-body {
      padding-bottom: to-rem(28);
      .benefit-group {
        display: block;
        .benefit-item {
          width: 100%;
        }
      }
      .benefit-vertical {
        display: flex;
        justify-content: space-between;
        .benefit-img {
          @include to-rem-four(margin, 0, 16, 16, 0);
        }
        .benefit-content {
          flex: 1;
          @include to-rem-two(padding, 5, 0);
          .benefit-title {
            padding-bottom: to-rem(8);
            font-size: to-rem(12);
            line-height: to-rem(18);
          }

          .benefit-des {
            font-size: to-rem(10);
            line-height: to-rem(15);
          }
        }
      }
    }
  }

  .subscribe-section {
    .background-ft {
      display: none;
      &-ip {
        display: block;
        position: absolute;
        z-index: -30;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .sub-content {
      display: block;
      height: auto;
      width: 100%;
    }
    .sub-info {
      width: 100%;
      @include to-rem-four(padding, 24, 117, 24, 0);
      font-size: to-rem(14);
      line-height: to-rem(21);
    }
    .sub-email {
      display: block;
      padding: 0;
      width: 100%;
      text-align: start;
      height: to-rem(32);
      .mail {
        @include to-rem-two(padding, 16, 12);
        margin-bottom: to-rem(12);
        &::placeholder {
          opacity: 0.7;
        }
      }
      .button {
        margin: 0;
        @include to-rem-two(padding, 7, 19);
        font-size: to-rem(13);
        line-height: to-rem(19);
      }
    }
  }
}
