*,
::before,
::after {
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #333333; }

html {
  font-size: 16px; }

a {
  text-decoration: none;
  color: #787885; }

ul,
li {
  list-style: none; }

select {
  appearance: none; }

body {
  position: relative; }

button {
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible; }

.container {
  max-width: 72rem;
  margin: auto; }

.flex-center-x {
  display: flex;
  justify-content: space-between; }

.flex-center-y {
  display: flex;
  align-items: center; }

.flex-end-x {
  display: flex;
  justify-content: flex-end; }

.flex-start-y {
  display: flex;
  align-items: start; }

.flex {
  display: flex; }

.flex-end-x {
  display: flex;
  justify-content: flex-end; }

.flex-start-x {
  display: flex;
  justify-content: flex-start; }

.flex-wrap {
  display: flex;
  flex-wrap: wrap; }

.flex-between-y {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media screen and (max-width: 375px) {
  .container {
    max-width: 20.4375rem;
    margin: auto; } }

.row {
  margin: 0rem -0.625rem;
  display: flex;
  flex-wrap: wrap; }

.col-lg-1 {
  width: 8.33333%;
  padding: 0rem 0.625rem; }

.col-lg-2 {
  width: 16.66667%;
  padding: 0rem 0.625rem; }

.col-lg-3 {
  width: 25%;
  padding: 0rem 0.625rem; }

.col-lg-4 {
  width: 33.33333%;
  padding: 0rem 0.625rem; }

.col-lg-5 {
  width: 41.66667%;
  padding: 0rem 0.625rem; }

.col-lg-6 {
  width: 50%;
  padding: 0rem 0.625rem; }

.col-lg-7 {
  width: 58.33333%;
  padding: 0rem 0.625rem; }

.col-lg-8 {
  width: 66.66667%;
  padding: 0rem 0.625rem; }

.col-lg-9 {
  width: 75%;
  padding: 0rem 0.625rem; }

.col-lg-10 {
  width: 83.33333%;
  padding: 0rem 0.625rem; }

.col-lg-11 {
  width: 91.66667%;
  padding: 0rem 0.625rem; }

.col-lg-12 {
  width: 100%;
  padding: 0rem 0.625rem; }

.row-bn {
  margin: 0rem -1.875rem;
  display: flex;
  flex-wrap: wrap; }

.col-md-1 {
  width: 8.33333%;
  padding: 0rem 1.875rem; }

.col-md-2 {
  width: 16.66667%;
  padding: 0rem 1.875rem; }

.col-md-3 {
  width: 25%;
  padding: 0rem 1.875rem; }

.col-md-4 {
  width: 33.33333%;
  padding: 0rem 1.875rem; }

.col-md-5 {
  width: 41.66667%;
  padding: 0rem 1.875rem; }

.col-md-6 {
  width: 50%;
  padding: 0rem 1.875rem; }

.col-md-7 {
  width: 58.33333%;
  padding: 0rem 1.875rem; }

.col-md-8 {
  width: 66.66667%;
  padding: 0rem 1.875rem; }

.col-md-9 {
  width: 75%;
  padding: 0rem 1.875rem; }

.col-md-10 {
  width: 83.33333%;
  padding: 0rem 1.875rem; }

.col-md-11 {
  width: 91.66667%;
  padding: 0rem 1.875rem; }

.col-md-12 {
  width: 100%;
  padding: 0rem 1.875rem; }

@media only screen and (max-width: 375px) {
  .row {
    margin: 0rem -0.28125rem;
    display: flex;
    flex-wrap: wrap; }
  .col-sm-1 {
    width: 8.33333%;
    padding: 0rem 0.28125rem 0.5rem 0.28125rem; }
  .col-sm-2 {
    width: 16.66667%;
    padding: 0rem 0.28125rem 0.5rem 0.28125rem; }
  .col-sm-3 {
    width: 25%;
    padding: 0rem 0.28125rem 0.5rem 0.28125rem; }
  .col-sm-4 {
    width: 33.33333%;
    padding: 0rem 0.28125rem 0.5rem 0.28125rem; }
  .col-sm-5 {
    width: 41.66667%;
    padding: 0rem 0.28125rem 0.5rem 0.28125rem; }
  .col-sm-6 {
    width: 50%;
    padding: 0rem 0.28125rem 0.75rem 0.28125rem; }
  .col-sm-7 {
    width: 58.33333%;
    padding: 0rem 0.28125rem 0.75rem 0.28125rem; }
  .col-sm-8 {
    width: 66.66667%;
    padding: 0rem 0.28125rem 0.75rem 0.28125rem; }
  .col-sm-9 {
    width: 75%;
    padding: 0rem 0.28125rem 0.75rem 0.28125rem; }
  .col-sm-10 {
    width: 83.33333%;
    padding: 0rem 0.28125rem 0.75rem 0.28125rem; }
  .col-sm-11 {
    width: 91.66667%;
    padding: 0rem 0.28125rem 0.75rem 0.28125rem; }
  .col-sm-12 {
    width: 100%;
    padding: 0rem 0.28125rem 0.75rem 0.28125rem; }
  .row-bn {
    margin: 0rem 0.625rem;
    display: flex;
    flex-wrap: wrap; }
  .col-md-1 {
    width: 8.33333%;
    padding: 0rem 0.625rem; }
  .col-md-2 {
    width: 16.66667%;
    padding: 0rem 0.625rem; }
  .col-md-3 {
    width: 25%;
    padding: 0rem 0.625rem; }
  .col-md-4 {
    width: 33.33333%;
    padding: 0rem 0.625rem; }
  .col-md-5 {
    width: 41.66667%;
    padding: 0rem 0.625rem; }
  .col-md-6 {
    width: 50%;
    padding: 0rem 0.625rem; }
  .col-md-7 {
    width: 58.33333%;
    padding: 0rem 0.625rem; }
  .col-md-8 {
    width: 66.66667%;
    padding: 0rem 0.625rem; }
  .col-md-9 {
    width: 75%;
    padding: 0rem 0.625rem; }
  .col-md-10 {
    width: 83.33333%;
    padding: 0rem 0.625rem; }
  .col-md-11 {
    width: 91.66667%;
    padding: 0rem 0.625rem; }
  .col-md-12 {
    width: 100%;
    padding: 0rem 0.625rem; } }

.btn-default, .btn-default-outline {
  padding: 0.875rem 1.125rem;
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  border-radius: 2.4375rem;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: #333333;
  background-color: #fff; }

.btn-default-outline {
  padding: 0.875rem 1.875rem;
  border: solid 0.0625rem #c4c4c4; }

.badge-sell-off {
  padding: 0.375rem 0.75rem;
  top: 1.875rem;
  left: 2.5rem;
  font-size: 0.75rem;
  line-height: 1.125rem;
  border-radius: 1.25rem;
  position: absolute;
  font-weight: bold;
  text-align: center;
  border: 0;
  color: #fff;
  background-color: #f00; }

.btn-submit {
  padding: 0.875rem 3.25rem;
  margin-left: 2.5rem;
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  border-radius: 3.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #fbb03b; }

@media only screen and (max-width: 375px) {
  .badge-sell-off {
    padding: 0.125rem 0.375rem;
    font-size: 0.5rem;
    line-height: 0.75rem;
    top: 0;
    left: 0; } }

.header-pc {
  padding: 3rem 0rem;
  position: fixed;
  z-index: 50;
  width: 100%; }
  .header-pc .header-left,
  .header-pc .header-right {
    position: relative;
    width: 10%; }
    .header-pc .header-left .option-group,
    .header-pc .header-right .option-group {
      width: 100%; }
    .header-pc .header-left .search,
    .header-pc .header-right .search {
      position: relative; }
  .header-pc .header-center {
    width: 30%; }
    .header-pc .header-center .nav-link {
      font-weight: bold;
      text-align: center;
      color: #fbb03b; }
  .header-pc .cart {
    position: relative; }
    .header-pc .cart::after {
      content: attr(data-cart);
      position: absolute;
      right: -0.5rem;
      top: -0.375rem;
      padding: 0rem 0.3125rem;
      font-size: 0.625rem;
      font-weight: bold;
      color: #fff;
      background-color: red;
      border-radius: 50%; }

.header-cart {
  position: static;
  background-color: #fbb03b; }
  .header-cart .header-center .nav-link {
    color: #fff; }

.header-mb {
  display: none; }

@media only screen and (max-width: 375px) {
  .header-pc {
    display: none; }
  .header-mb {
    padding: 1.25rem 0rem;
    height: 4.5rem;
    display: flex;
    position: relative;
    z-index: 50;
    width: 100%; }
    .header-mb .header-body {
      width: 100%; }
    .header-mb .header-right {
      width: max-content; }
      .header-mb .header-right .option-sm {
        display: flex; }
      .header-mb .header-right .option-item {
        margin-left: 1.5rem; } }

.footer {
  width: 100%;
  color: #fff;
  background-color: #fbb03b; }
  .footer .info-link {
    color: #fff; }
  .footer .top-section {
    padding: 2.875rem 0rem 2rem 0rem; }
    .footer .top-section .footer-left {
      max-width: 33.75rem;
      padding-right: 10.5625rem; }
    .footer .top-section .footer-right {
      max-width: 42.875rem;
      font-size: 0.875rem;
      line-height: 0.15; }
  .footer .footer-left .footer-content {
    padding: 1.5rem 0rem 3.875rem 0rem;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #fff; }
  .footer .footer-left .footer-network {
    max-width: 12.6875rem; }
  .footer .footer-right .genenal-info {
    display: flex;
    padding: 0; }
    .footer .footer-right .genenal-info .footer-general {
      padding: 0; }
      .footer .footer-right .genenal-info .footer-general.shopping-online {
        padding-right: 5.4375rem; }
      .footer .footer-right .genenal-info .footer-general.information {
        padding-right: 3.25rem; }
    .footer .footer-right .genenal-info .info-item,
    .footer .footer-right .genenal-info .info-link {
      font-size: 0.875rem;
      line-height: 1.5;
      font-weight: 400; }
    .footer .footer-right .genenal-info .info-group {
      padding-right: 0.5rem; }
      .footer .footer-right .genenal-info .info-group li {
        padding-bottom: 1.1875rem;
        color: #fff; }
    .footer .footer-right .genenal-info .info-title {
      padding-bottom: 1.1875rem;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: bold;
      color: #fff; }
  .footer .bottom-section .bottom-title {
    padding: 1.5rem 0rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
    border-top: solid 0.0625rem #fff;
    text-align: center;
    color: #fff; }

@media only screen and (max-width: 375px) {
  .footer {
    justify-content: flex-start; }
    .footer .top-section {
      display: block; }
      .footer .top-section .footer-left {
        padding-right: 0; }
        .footer .top-section .footer-left .footer-content {
          font-size: 0.875rem;
          font-weight: normal; }
        .footer .top-section .footer-left .footer-network {
          display: none; }
    .footer .footer-right .genenal-info {
      display: block;
      justify-content: flex-start; }
      .footer .footer-right .genenal-info .info-item .info-link {
        font-size: 0.75rem; }
      .footer .footer-right .genenal-info .footer-general {
        font-size: 1.5rem; }
    .footer .footer-right .info-title {
      padding-bottom: 1rem; }
    .footer .footer-right .info-group .info-item {
      padding-bottom: 0.3125rem !important; } }

.banner {
  height: 50rem;
  position: relative;
  z-index: 0;
  width: 100%; }
  .banner .title, .banner .section-body .highlight {
    max-width: 25rem;
    padding-bottom: 1.5rem;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.015;
    color: #fff; }
  .banner .bg-img {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: fit-content; }
  .banner .bg-iphone {
    position: absolute;
    z-index: -10;
    display: none; }
  .banner::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%); }
  .banner .section-body {
    padding: 13.875rem 0rem 0rem 6rem;
    z-index: 10; }
    .banner .section-body .highlight {
      color: #fbb03b; }
    .banner .section-body .shop-now-group .shop-now-icon {
      padding-right: 1.3125rem; }
    .banner .section-body .shop-now-group .shop-now-link {
      font-size: 1.5rem;
      font-size: 2.25rem;
      font-weight: bold;
      text-decoration-line: underline;
      color: #fff; }
  .banner .section-footer {
    height: 7.8125rem;
    position: absolute;
    bottom: 0;
    right: calc(50% - 36rem + 12.25rem);
    width: 100%;
    display: flex;
    flex-direction: row-reverse; }
    .banner .section-footer .benefit-group {
      padding: 2.375rem 4rem 1.5rem 0rem;
      border-top-right-radius: 4.375rem;
      width: 100%;
      background-color: #fff; }
  .banner .benefit-group {
    height: 7.8125rem; }
    .banner .benefit-group .benefit-item {
      width: 14.75rem;
      margin-left: 3rem;
      align-items: start; }
      .banner .benefit-group .benefit-item .benefit {
        padding: 0; }
      .banner .benefit-group .benefit-item .benefit-icon {
        margin-right: 0.9375rem; }
      .banner .benefit-group .benefit-item .benefit-content .benefit-title {
        margin-bottom: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        padding: 0;
        font-weight: bold;
        color: #333333; }
      .banner .benefit-group .benefit-item .benefit-content .benefit-des {
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: #a8a8a8; }
      .banner .benefit-group .benefit-item .benefit-horizontal {
        display: flex;
        justify-content: space-between; }

@media only screen and (max-width: 375px) {
  .banner {
    height: 46.25rem; }
    .banner .bg-img {
      display: none; }
    .banner .bg-iphone {
      display: block; }
    .banner .section-body {
      padding: 16.9375rem 0rem 0rem 0rem; }
      .banner .section-body .title, .banner .section-body .highlight {
        font-size: 3rem; }
      .banner .section-body .shop-now-group .shop-now-link {
        font-size: 0.875rem;
        line-height: 1.3125rem; }
    .banner .section-footer {
      display: none; } }

.prd-section .section-body {
  position: relative; }
  .prd-section .section-body .section-link {
    top: -5.4375rem;
    position: absolute;
    right: 0;
    height: fit-content; }

.prd-section .prd-item {
  position: relative; }

.prd-section .prd .btn-sell-off {
  top: 1.5rem;
  left: 1.75rem; }

.prd-section .prd-img {
  padding-bottom: 0.9375rem;
  width: 100%; }

.prd-section .prd-name {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300; }

.prd-section .prd-price {
  font-size: 1.25rem;
  line-height: 1.875rem;
  position: relative; }
  .prd-section .prd-price.price-off {
    color: #f00; }
  .prd-section .prd-price.tag::after {
    font-size: 1.25rem;
    line-height: 1.875rem;
    position: absolute;
    color: #cecece;
    content: attr(real-price);
    right: 0;
    top: 0; }

@media only screen and (max-width: 375px) {
  .prd-section .section-body .section-link {
    font-size: 0.625rem;
    top: -3.75rem;
    right: 0;
    padding: 0;
    border: 0;
    align-self: flex-end; }
  .prd-section .prd-item {
    padding-bottom: 0.75rem; }
    .prd-section .prd-item .badge-sell-off {
      top: 0.75rem;
      left: 0.5625rem; }
    .prd-section .prd-item .prd-img {
      padding-bottom: 0; }
    .prd-section .prd-item .prd-name {
      font-size: 0.75rem;
      line-height: 0.75rem;
      font-weight: 300; }
    .prd-section .prd-item .prd-price {
      font-size: 0.625rem;
      line-height: 0.9375rem; }
      .prd-section .prd-item .prd-price.tag::after {
        font-size: 0.625rem;
        line-height: 0.9375rem; } }

.collection-section {
  padding: 3rem 0rem; }
  .collection-section .collection-group .collection {
    height: 22.4375rem;
    position: relative;
    z-index: 0;
    width: 100%; }
    .collection-section .collection-group .collection .collect-bg {
      position: absolute;
      z-index: -10;
      width: 100%;
      height: 100%; }
    .collection-section .collection-group .collection .collection-content {
      padding: 0rem 2.5rem 3.3125rem 2.5rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
    .collection-section .collection-group .collection::after {
      padding: 0rem 1.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-color: #333333; }
  .collection-section .detail {
    min-height: 8.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .collection-section .discount {
    padding: 0.375rem 0.5625rem;
    margin-bottom: 0.5rem;
    position: static;
    align-self: flex-start; }
  .collection-section .collection-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #fff; }
  .collection-section .collection-link {
    padding: 0.875rem 1.125rem;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    border-radius: 2.4375rem;
    align-self: flex-start;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    color: #333333;
    background-color: #fff; }

.prd-section {
  padding: 3rem 0rem; }
  .prd-section .section-header {
    position: relative; }
    .prd-section .section-header .section-title {
      padding-bottom: 2.4375rem;
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 300; }
  .prd-section .txt-center {
    text-align: center; }

.benefit-section {
  background-color: #f7f7f7; }
  .benefit-section .section-header .section-title {
    padding: 3rem 0rem 3.125rem 0rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    font-weight: 300; }
  .benefit-section .section-body {
    padding-bottom: 3.375rem; }
  .benefit-section .benefit .benefit-img {
    margin-bottom: 2.875rem;
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 0.625rem;
    position: relative;
    background-color: #fff; }
    .benefit-section .benefit .benefit-img .benefit-icon {
      width: 2.3125rem;
      height: 2.3125rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .benefit-section .benefit .benefit-title {
    padding-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold; }
    .benefit-section .benefit .benefit-title.hover {
      color: #fbb03b; }
  .benefit-section .benefit .benefit-des {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #808080; }
  .benefit-section .benefit:hover .item-title,
  .benefit-section .benefit:hover .benefit-icon {
    color: #fbb03b; }

.subscribe-section {
  height: 13.5625rem;
  position: relative;
  z-index: 0; }
  .subscribe-section .background-ft {
    position: absolute;
    z-index: -30;
    width: 100%;
    height: 100%; }
    .subscribe-section .background-ft-ip {
      display: none; }
  .subscribe-section::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%); }
  .subscribe-section .sub-content {
    height: 100%; }
  .subscribe-section .sub-info {
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 50%;
    color: #fff; }
  .subscribe-section .sub-email {
    width: 50%; }
    .subscribe-section .sub-email .txt-mail {
      padding: 1.5rem;
      height: 1.25rem;
      font-size: 0.8125rem;
      line-height: 1.1875rem;
      border-radius: 3.8125rem;
      width: 100%;
      align-items: center;
      border: 0;
      outline: none;
      color: #ababab;
      background-color: #fff; }

@media only screen and (max-width: 375px) {
  .collection-section {
    padding: 1.5rem 0rem 0rem 0rem; }
    .collection-section .collection-group .collection {
      height: 14rem;
      width: 100%; }
      .collection-section .collection-group .collection .collection-bg {
        object-fit: cover; }
      .collection-section .collection-group .collection .collection-content {
        padding: 0rem 0rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%; }
        .collection-section .collection-group .collection .collection-content .discount {
          padding: 0.125rem 0.375rem;
          font-size: 0.5rem;
          line-height: 0.75rem; }
        .collection-section .collection-group .collection .collection-content .detail {
          min-height: 4.25rem;
          min-height: 5.625rem;
          padding-right: 2.8125rem; }
        .collection-section .collection-group .collection .collection-content .collection-title {
          margin-bottom: 0.5rem;
          font-size: 0.875rem;
          line-height: 1.3125rem;
          font-weight: normal;
          color: #fff; }
        .collection-section .collection-group .collection .collection-content .collection-link {
          padding: 0.1875rem 0.5625rem;
          left: 1rem;
          bottom: 1rem;
          font-size: 0.625rem;
          line-height: 0.9375rem; }
  .prd-section .section-header .section-title {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-weight: 300; }
  .prd-section .section-header .txt-center {
    padding-bottom: 1rem;
    text-align: left; }
  .benefit-section .section-header .section-title {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-weight: 300; }
  .benefit-section .section-body {
    padding-bottom: 1.75rem; }
    .benefit-section .section-body .benefit-group {
      display: block; }
      .benefit-section .section-body .benefit-group .benefit-item {
        width: 100%; }
    .benefit-section .section-body .benefit-vertical {
      display: flex;
      justify-content: space-between; }
      .benefit-section .section-body .benefit-vertical .benefit-img {
        margin: 0rem 1rem 1rem 0rem; }
      .benefit-section .section-body .benefit-vertical .benefit-content {
        padding: 0.3125rem 0rem;
        flex: 1; }
        .benefit-section .section-body .benefit-vertical .benefit-content .benefit-title {
          padding-bottom: 0.5rem;
          font-size: 0.75rem;
          line-height: 1.125rem; }
        .benefit-section .section-body .benefit-vertical .benefit-content .benefit-des {
          font-size: 0.625rem;
          line-height: 0.9375rem; }
  .subscribe-section .background-ft {
    display: none; }
    .subscribe-section .background-ft-ip {
      display: block;
      position: absolute;
      z-index: -30;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .subscribe-section .sub-content {
    display: block;
    height: auto;
    width: 100%; }
  .subscribe-section .sub-info {
    padding: 1.5rem 7.3125rem 1.5rem 0rem;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    width: 100%; }
  .subscribe-section .sub-email {
    height: 2rem;
    display: block;
    padding: 0;
    width: 100%;
    text-align: start; }
    .subscribe-section .sub-email .txt-mail {
      padding: 1rem 0.75rem;
      margin-bottom: 0.75rem;
      font-size: 0.75rem; }
      .subscribe-section .sub-email .txt-mail::placeholder {
        opacity: 0.7; }
    .subscribe-section .sub-email .button {
      padding: 0.4375rem 1.1875rem;
      font-size: 0.8125rem;
      line-height: 1.1875rem; } }

.cart-section .section-header {
  padding: 1.25rem 0rem;
  font-weight: bold;
  font-size: 1.5rem; }

.cart-section .section-body.cart-empty {
  padding: 3.125rem 0rem;
  margin: 1.25rem 0rem;
  justify-content: center;
  font-size: 1.25rem;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 0.25rem; }

.cart-section .section-body .cart-list {
  margin: 0rem -0.625rem; }

.cart-section .section-body .cart-item {
  padding: 1.5rem;
  margin-bottom: 1.875rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #c4c4c4; }
  .cart-section .section-body .cart-item .prd-img {
    height: 12rem; }
  .cart-section .section-body .cart-item .prd-info {
    padding: 0rem 1.5rem;
    min-width: 21.875rem;
    height: 8.125rem;
    text-align: left; }
    .cart-section .section-body .cart-item .prd-info .prd-name {
      font-size: 1.375rem; }
    .cart-section .section-body .cart-item .prd-info .now-price {
      font-size: 1.25rem; }
  .cart-section .section-body .cart-item .cart-body-right {
    height: 12rem;
    text-align: right; }
  .cart-section .section-body .cart-item .prd-total {
    font-weight: bold;
    font-size: 1.5rem; }
  .cart-section .section-body .cart-item .badge-sell {
    padding: 0.625rem 0rem;
    width: 40%; }
  .cart-section .section-body .cart-item .real-price {
    padding-right: 0.625rem;
    text-decoration: line-through;
    color: #ababab; }
  .cart-section .section-body .cart-item .percent-sell-off {
    font-weight: bold;
    font-size: 0.875rem;
    color: #f00; }
  .cart-section .section-body .cart-item .prd-amount .amount {
    padding: 0.3125rem 0.625rem;
    border: 0.0625rem solid #c4c4c4;
    border-radius: 0.25rem;
    cursor: pointer; }
  .cart-section .section-body .cart-item .prd-amount .amount-now {
    padding: 0.375rem 0.125rem;
    width: 3.125rem;
    text-align: center;
    border-radius: 0.3125rem;
    border-width: 0.0625rem;
    border-color: #e6e6; }
  .cart-section .section-body .cart-item .remove {
    font-weight: 500;
    font-size: 0.875rem;
    color: #ababab;
    cursor: pointer; }

.cart-section .cart-total-price {
  padding-bottom: 3.125rem; }
  .cart-section .cart-total-price .cart-total {
    padding: 1.5rem;
    border: 0.0625rem solid #c4c4c4;
    border-radius: 0.25rem; }
  .cart-section .cart-total-price .cart-title {
    font-weight: bold;
    font-size: 1rem; }
  .cart-section .cart-total-price .cart-coupon {
    font-weight: 500;
    font-size: 2rem;
    text-align: right; }
  .cart-section .cart-total-price .cart-submit {
    padding: 1.125rem 5rem;
    margin-top: 0.625rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #fbb03b;
    border-radius: 0.25rem;
    cursor: pointer; }
